body{
    background-color: turquoise;
    padding: 1%;
}
img{
    width: 50%;
}
span{
    font-size: 23px;
    font-weight: bold;
}
textarea{
    margin: 2%;
    width: 96%;
    height: 62%;
}

